html
  head
    title="GameXfer - 404"
    link(href='/style/index.css' rel='stylesheet' type='text/css')
  body
    div(class="not-found-page")
      a(href="/")
        h1(class= "title").
          404 - That page was not found. Click me to go home!