extends layout

block head
  title='Contact - GameXfer'
block body
  .contact-page
    .ui-panel.medium-ui-panel
      .ui-panel-header
        a(class='left logo' href='/').
          <span>Game</span>Xfer
      .ui-panel-body
        .ui-panel-subtitle.
          Send us a message
        input.js-contact-email-input(type='email' name='_replyto' placeholder='Email')
        textarea.js-contact-text-input.contact-message-textarea(type='text' name='name' placeholder='Message')
      .ui-panel-footer
        a(href='/' class='left').
          Home
        a(class='submit-ui-panel-button  js-contact-submit').
          Send
      div(class='ui-panel-display-message  animated  fadeIn  hide  js-contact-status-message')
