html
  head
    title='Post a Thread - GameXfer'
    link(href='/style/index.css' rel='stylesheet' type='text/css')

    script(src='/js/build.js' async='true')
      
    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    if forum
      .create-thread-page
        .ui-panel.medium-ui-panel
          .ui-panel-header
            div(class='left logo').
              <span>Game</span>Xfer
          form.js-create-thread-form
            .js-forum-id(class='hide' data-forum-id=forum.forumId)
            .ui-panel-body
              .ui-panel-subtitle
                p.inline-block.
                  Create a thread in&nbsp;
                a(href='/f/'+forum.forumId).
                  #{forum.title}
              input(class='js-create-thread-title' type='text' placeholder='Title')
              input(class='js-create-thread-description' type='email' placeholder='Description')
              .create-comment-area
                textarea(class='js-create-thread-text' data-provide='markdown' type='text' placeholder='Comment')
            .ui-panel-footer
              a(href='/f/'+forum.forumId class='left').
                Back
              input(class='submit-ui-panel-button js-create-thread' type='submit' value='Submit')
          div(class='ui-panel-display-message animated fadeIn hide js-create-thread-message')
    else
      p.
        Invalid thread.
    include footer