html
  head
    title='Forgot Password - GameXfer'
    link(href='/style/index.css' rel='stylesheet' type='text/css')

    script(src='/js/build.js' async='true')

    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet')

    link(href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/67239/animate.min.css' rel='stylesheet')

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    .password-page
      .auth-ui-panel
        .auth-entry-header
          div(class='left logo')
            <span>Game</span>Xfer
        .auth-entry-form
          .subtitle.
            Enter your username & email. We'll email you a link to reset your password. The link will be active for the next 24 hours.
          input(class='js-password-username-input' type='text' placeholder='Username')
          input(class='js-password-email-input' type='text' placeholder='Email')
        .auth-entry-footer
          .left
            a(href='/').
              Cancel
          .right
            a(class='submit-auth-button js-password').
              Submit
        div(class='auth-display-message animated fadeIn hide js-password-status-message')
