extends layout

block head
  title='Forgot Password - GameXfer'
block body
  .password-page
    .ui-panel.small-ui-panel
      .ui-panel-header
        a(class='left logo' href='/')
          <span>Game</span>Xfer
      .ui-panel-body
        .ui-panel-subtitle.
          Resetting your password is coming soon. For now please contact me with the form at the bottom.
        //- .ui-panel-subtitle.
        //-   Enter your username & email. We'll email you a link to reset your password. The link will be active for the next 24 hours.
        //- input(class='js-password-username-input' type='text' placeholder='Username')
        //- input(class='js-password-email-input' type='text' placeholder='Email')
      .ui-panel-footer
        .left
          a(href='/').
            Home
        //- .right
        //-   a(class='submit-ui-panel-button js-password').
        //-     Submit
      div(class='ui-panel-display-message animated fadeIn hide js-password-status-message')
  include footer