doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title=forum.title+' GameXfer'

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include thread-header

    include header
    .forum-page
      a.forum-title(href='/f/'+forum.forumId).
        #{forum.title}
      a(href='/f/'+forum.forumId+'/create-thread' class='forum-ui-button').
        Create Thread
      each thread in threads.length ? threads : ['No threads found.']
        +thread-header(thread)