.page-header
  a(href='/' class='gamexfer-title').
    Game<span>Xfer</span>
  a(href='/forums' class='header-link ml-4').
    Forums
  a(href='/tracker' class='header-link ml-4').
    Tracker
  a(href='/posts' class='header-link ml-4').
    Posts
  if user
    include logout
    ul(class='bar-list  right')
      li
        a(href='/u/'+user.username class='bold-text  header-link  header-username').
          #{user.displayUsername}
      li
        a(href='/coins'  class='header-link  header-xfer-coin')
          p(class='header-coin-text').
            #{user.xferCoin}        
          img(src='/images/coins-32.png' class='xfer-coin-image')
          .coin-underline
      li
        a(href='/inbox')
          if user.hasUnread
            i(class='fa  fa-envelope  header-envelope')
          else
            i(class='fa  fa-envelope-o  header-envelope')
      li
        a(class='logout-button  js-logout  header-link  header-small-text').
          Logout
  else
    ul(class='bar-list  right')
      li
        a(href='/login' class='header-link').
          login
      li.
          or
      li
        a(href='/signup' class='header-link').
          register