html
  head
    title='Login - GameXfer'
    link(href='/style/index.css' rel='stylesheet' type='text/css')

    script(src='/js/build.js' async='true')

    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet')

    link(href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/67239/animate.min.css' rel='stylesheet')

    link(rel='icon' type='image/png' href='/images/treasure.png')
  body
    include header
    .login-page
      .auth-ui-panel
        .auth-entry-header
          div(class='left logo')
            <span>Game</span>Xfer
        .auth-entry-form
          .subtitle.
            Login or <a href='/signup'>Register</a>
          input(class="js-login-username-input" type='text' placeholder='Username')
          input(class="js-login-password-input" type='password' placeholder='Password')
        .auth-entry-footer
          a(href='/forgotPassword' class='left').
            Forgot your password?
          a(class='login-button js-login').
            Login
        div(class='auth-display-message animated fadeIn hide js-login-status-message')
