extends layout

block head
  title='Login - GameXfer'
block body
  .login-page
    .ui-panel.small-ui-panel
      .ui-panel-header
        a(class='left logo' href='/').
          <span>Game</span>Xfer
      .ui-panel-body
        .ui-panel-subtitle.
          Login or <a href='/signup'>Register</a>
        input(class="js-login-username-input" type='text' placeholder='Username')
        input(class="js-login-password-input" type='password' placeholder='Password')
      .ui-panel-footer
        a(href='/forgot-password' class='left').
          Forgot your password?
        a(class='submit-ui-panel-button js-login').
          Login
      div(class='ui-panel-display-message animated fadeIn hide js-login-status-message')
  include footer