//- This is a partial for every page that includes the logout.
.logout(class="js-logout-page hide")
  .overlay
  .logout-ui-panel
    h1.loggingoutMessage.
      Logging out...
    .logout-status-message(class="hide  js-logout-status-message")