//- This is a partial for every page that includes the logout.
.logout(class='js-logout-page hide')
  .overlay
  .ui-panel.small-ui-panel
    .ui-panel-subtitle.center-text.
      Logging out...
    .ui-panel-display-message(class='hide  js-logout-status-message')