doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='/style/index.css')
    script(src='/js/build.js')
    title='Posts - GameXfer'

    link(rel='icon' type='image/png' href='/images/treasure-64.png')
  body
    include header
    h1.
      GameXfer Posts  
    p.
      This will show all of your recent posts.