html
  head
    title="Sign up - GameXfer"
    link(href='/style/index.css' rel='stylesheet' type='text/css')

    link(rel="icon" type="image/png" href="/images/treasure.png")
  body
    include header
    div(class="not-found-page")
      a(href="/")
        h1(class= "title").
          signup