extends layout

block head
  title='Signup - GameXfer'
  
block body
  .signup-page
    .ui-panel.small-ui-panel
      .ui-panel-header
        div(class='left logo')
          <span>Game</span>Xfer
      form.js-signup-form
        .ui-panel-body
          .ui-panel-subtitle.
            Register or <a href='/login'>Login</a>
          input(class='js-signup-username-input' type='text' placeholder='Username')
          input(class='js-signup-email-input' type='email' placeholder='Email')
          input(class='js-signup-password-input' type='password' placeholder='Password')
          input(class='js-signup-password-confirmation-input' type='password' placeholder='Re-Enter Password')
        .ui-panel-footer
          a(href='/forgot-password' class='left').
            Forgot your password?
          input(class='submit-ui-panel-button js-signup' type='submit' value='Submit')
      div(class='ui-panel-display-message animated fadeIn hide js-signup-status-message')
