html
  head
    title='Signup - GameXfer'
    link(href='/style/index.css' rel='stylesheet' type='text/css')

    script(src='/js/build.js' async='true')

    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet')

    link(href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/67239/animate.min.css' rel='stylesheet')

    link(rel='icon' type='image/png' href='/images/treasure.png')
  body
    include header
    .signup-page
      .auth-ui-panel
        .auth-entry-header
          div(class='left logo')
            <span>Game</span>Xfer
        form.js-signup-form
          .auth-entry-form
            .subtitle.
              Signup or <a href='/login'>Login</a>
            input(class='js-signup-username-input' type='text' placeholder='Username')
            input(class='js-signup-email-input' type='email' placeholder='Email')
            input(class='js-signup-password-input' type='password' placeholder='Password')
            input(class='js-signup-password-confirmation-input' type='password' placeholder='Re-Enter Password')
          .auth-entry-footer
            a(href='/forgotPassword' class='left').
              Forgot your password?
            input(class='signup-button js-signup' type='submit' value='Submit')
        div(class='auth-display-message animated fadeIn hide js-signup-status-message')
