mixin thread-header(thread)
  .thread-header
    a(href='/f/'+thread.forumId+'/t/'+thread.threadId)
      .thread-title.
        #{thread.title}
    p(class='thread-header-info  inline-block')='Posted '+moment(thread.createdAt).fromNow()+' by '
    p.inline-block.
      &nbsp;
    a(href='/u/'+thread.author)
      p(class='thread-header-author inline-block').
        #{thread.author}