.comment-panel {
  position: relative;

  padding: 4px;
  margin: 4px;
}

.comment-panel:hover .comment-author {
  border: 1px solid #bbb;
  border-bottom: 0;
}
.comment-panel:hover .comment-text {
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
.comment-panel:hover .comment-inner-panel {
  border: 1px solid #bbb;
}

.comment-author {
  position: relative;

  margin-left: 12px;

  z-index: 2;

  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;

  border: 1px solid #ddd; // $flat-clouds;
  background-color: $flat-clouds; // #FBFBFB;
  border-bottom: 0;

  display: inline;
}

.comment-time {
  font-size: 12px;

  color: $text-secondary;
}

.comment-inner-panel {
  position: relative;

  display: flex;

  border: 1px solid #ddd; // $flat-clouds;
  background-color: $flat-clouds; // #FBFBFB;
}

.comment-author-information {
  overflow: hidden;

  padding: 4px;

  color: #333;

  font-size: 13px;
}

.comment-text {
  overflow: hidden;
  padding: 6px;

  background-color: white;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;

  margin-top: -1px;

  z-index: 4;
}


.create-comment-area {
  margin-top: 18px;

  textarea {
    font-size: 16px;
    padding: 10px 8px;
  }
}

$btn-border-radius: 3px;

// .btn-toolbar {
//   display: block;
//   padding: 6px 10px;
//   background: #f5f5f5;
// }
.btn-group {
  display: inline-block;
  margin-right: 6px;
}

.btn-group>.btn {
  outline: 0;

  position: relative;
}

.btn-group>.btn:first-child {
  border-top-left-radius: $btn-border-radius;
  border-bottom-left-radius: $btn-border-radius;
}
.btn-group>.btn:last-child {
  border-top-right-radius: $btn-border-radius;
  border-bottom-right-radius: $btn-border-radius;
}

.btn-primary {
  background-color: #428bca;
  color: #fff;
  border: 1px solid #357ebd !important;

  &:hover {
    cursor: pointer;

    background-color: #3276b1;
    border-color: #285e8e;
    color: #fff;
  }
}

.btn-default {
  color: #333;
  background-color: #fff;

  border: 1px solid #ccc;

  &:hover {
    cursor: pointer;

    // Push their borders in front.
    z-index: 2;

    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
  }
}


.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
  border: 1px solid lightgrey;//$flat-clouds;
}
.btn-sm+.btn-sm {
  margin-left: -1px;
}
