.comment-panel {
  position: relative;

  padding: 4px;
  margin: 4px;
}

.linked-comment {
  .comment-author {
    border-color: $flat-amethyst !important;
  }
  .comment-text {
    border-color: $flat-amethyst !important;
    border-left: 1px solid $flat-amethyst !important;
  }
  .comment-inner-panel {
    border-color: $flat-amethyst !important;
  }
}

.comment-panel:hover .comment-author {
  border-color: #bbb;
}
.comment-panel:hover .comment-text {
  border-color: #bbb;
}
.comment-panel:hover .comment-inner-panel {
  border-color: #bbb;
}

.comment-top-item {
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;

  height: 20px;

  border: 1px solid #ddd; // $flat-clouds;
  background-color: $flat-clouds; // #FBFBFB;
  border-bottom: 0;

  z-index: 2;
}

.comment-author {
  position: relative;

  margin-left: 12px;

  display: inline;
}

.comment-action-bar {
  position: absolute;

  font-size: 14px;

  right: 0;
  top: 0;
}

.comment-action {
  display: inline-block;
  margin-right: 12px;

  padding-top: 2px;

  &:hover {
    cursor: pointer;

    border-color: #bbb;
  }
}

.comment-time {
  font-size: 12px;

  color: $text-secondary;
}

.comment-inner-panel {
  position: relative;

  display: flex;

  border: 1px solid #ddd; // $flat-clouds;
  background-color: $flat-clouds; // #FBFBFB;
}

.comment-author-information {
  overflow: hidden;

  padding: 4px;

  color: #333;

  font-size: 13px;
}

.comment-text {
  overflow: hidden;
  position: relative;
  padding: 6px;

  max-height: 1600px;
  max-width: 100%;

  background-color: white;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;

  margin-top: -1px;

  z-index: 4;

  pre {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
  }
}

.inline-create-comment-container {
  margin-top: 60px;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

.inline-add-comment-button {
  margin-top: 3px;
}

.create-comment-container {
  margin-top: 18px;

  min-height: 90px;
}
