$forum-top-padding: 5px;

.nav-bar {
  margin-left: 10px;
  margin-top: 4px;

  font-family: Arial;
}

.thread-table-header {
  position:relative;

  margin-bottom: 30px;
  margin-top: 10px;

  text-align: left;

  padding-left: 20px;

  div {
    padding: 0 !important;
  }
}

.forum-title {
  font-size: 22px;

  margin-left: 20px;

  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: $text-primary;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.forum-ui-button {
  position: absolute;

  top: $forum-top-padding;
  right: 10px;

  border-radius: 3px;

  text-decoration: none;
  color: $text-primary;

  border: 1px solid $text-secondary;

  padding: 4px;
}

.forum-ui-button:hover {
  cursor: pointer;

  border: 1px solid $text-primary;

  color: black;
}

.forum-page {
  position: relative;

  padding-top: $forum-top-padding;
}