$forum-top-padding: 8px;

.forum-bottom-bar {
  position: relative;
}

.forums-page-title-area {
  position: relative;

  margin-left: 10px;
  margin-right: 20px;
  padding: 10px;

  margin-bottom: -10px;
}

.leaderboard-title {
  border-bottom: 1px solid $accent-dark;
  font-size: 16px;
}

.leaderboard-panel-container {
  margin-top: 16px;
}

.leaderboard-panel {
  position: relative;

  margin: 4px;
  padding: 6px;

  border: 1px solid $flat-clouds;
  background-color: white;

  ol {
    li {
      padding: 4px 0;
      font-size: 14px;
    }
    li+li {
      border-top: 1px dotted $accent-dark;
    }
  }
}

.forums-page-title-area:hover {
  cursor: pointer;
}

.forum-most-recent-thread {
  font-size: 12px;
}

.most-recent-comment-thread-title {
  margin-bottom: 2px;
}

.forum-header-info {
  color: $text-secondary;
}

.forums-title {
  font-size: 18px;
  font-weight: 600;

  margin-top: 6px;

  color: $text-primary;

  span {
    color: $gold;
  }
}

.forums-title-dropdown-icon {
  display: inline-block;
  color: #FAFAFA;

  font-size: 14px;

  -webkit-transition:all 0.25s ease;
  -moz-transition:all 0.25s ease;
  transition:all 0.25s ease;
}
.forums-page-title-area:hover .forums-title-dropdown-icon {
  color: $text-secondary;

  display: inline-block;
}

.forums-info {
  font-size: 14px;
  
  padding: 4px;
  margin-top: 4px;

  color: $text-primary;

  border: 1px solid $flat-clouds;
  background-color: #FAFAFA;
}

.categories-selection-page {
  position: relative;
}

.forum-header {
  overflow: hidden;

  display: flex;

  padding: 6px;
  margin: 6px;
  margin-left: 10px;
  margin-right: 10px;

  border: 1px solid $flat-clouds;
  background-color: #FBFBFB;
}
.forum-header:hover {
  background-color: #F8F8F8;
}

.forum-header-col {
  border-right: 1px dotted lightgrey;
}

.forum-category-panel {
  overflow: hidden;

  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;

  margin: 10px;

  border: 1px solid $flat-clouds;
  border-radius: 3px;
  background-color: white;
}
.forum-category-panel:hover {
  background-color: #FAFAFA;
}

.forums-table-header {
  color: $text-secondary;
}

.forum-category-title {
  font-size: 18px;

  margin-bottom: 4px;

  border-bottom: 1px dotted $flat-clouds;
}

.forum-in-category {
  font-size: 12px;
}

.thread-table-header {
  position: relative;

  margin-bottom: 30px;
  margin-top: 6px;

  text-align: left;

  color: $text-secondary;
}

.forum-action-buttons {
  position: absolute;

  top: 0;
  right: 10px;
}

.forum-title {
  font-size: 22px;
  font-weight: 300;

  margin-left: 20px;

  color: $text-primary;
}

.forum-information {
  margin-left: 22px;
  margin-top: 2px;

  color: $text-secondary;

  font-size: 12px;
}

.forum-ui-button {
  display: inline-block;
  margin-left: 4px;

  border-radius: 3px;

  text-decoration: none;
  color: $text-primary;

  border: 1px solid $text-secondary;

  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.forum-ui-button:hover {
  cursor: pointer;

  border: 1px solid $text-primary;

  color: black;
}

.forums-page {
  position: relative;
  display: flex;

  padding-left: 4px;
  padding-right: 6px;
}

.forum-page {
  position: relative;

  padding-top: $forum-top-padding;
}