$header-height: 46px;

.page-header {
  border-bottom: 1px solid #EEE;

  background-color: white;

  width: 100%;
  height: $header-height;
  line-height: $header-height;
}

.gamexfer-title {
  color: #111;
  font-weight: bold;
  font-size: 24px;

  text-decoration: none;

  font-family: "Source Sans Pro", Helvetica, sans-serif;

  margin-left: 40px;

  span {
    color: #f1c40f;
  }
}

.header-xfer-coin:hover {
  border-bottom: 1px solid $link-text;
  text-decoration: none !important;
}

.header-small-text {
  font-size: 12px !important;
}

.header-coin-text {
  font-size: 20px !important;
  font-weight: bold;

  line-height: 1;

  display: inline-block;
}

.xfer-coin-image {
  height: 16px;
  width: 16px;
}

.header-link {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  font-size: 16px;
  color: $link-text;

  line-height: $header-height;

  text-decoration: none;
}
.header-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bar-list {
  margin-right: 20px;

  li {
    display: inline-block;

    margin-right: 8px;

    height: $header-height;
  }
}

.xfer-coin-text {
  color: #115;
}

