$header-height: 46px;

.page-header {
  border-bottom: 1px solid #EEE;

  background-color: white;

  width: 100%;
  height: $header-height;
  line-height: $header-height;
}

.gamexfer-title {
  color: #333;
  font-weight: bold;
  font-size: 24px;

  text-decoration: none;

  margin-left: 40px;

  span {
    color: $gold;
  }
}

.header-text {
  position: relative;
  top: -2px;
}

@keyframes blink {
    0% { box-shadow: none; }
    50% { box-shadow: 0 0 3px rgba($link-text, 0.5); }
    100% { box-shadow: none; }
}

@-webkit-keyframes blink {
    0% { box-shadow: 0 0 0; }
    50% { box-shadow: 0 0 3px rgba($link-text, 0.5); }
    100% { box-shadow: 0 0 0; }
}

.header-envelope {
  position: relative;
  top: -1px;
  height: 14px;
  width: 14px;

  color: $link-text;

  &:hover {
    cursor: pointer;
    color: #333;
  }
}

.coin-underline {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 1px;
}
.header-xfer-coin {
  position: relative;
}
.header-xfer-coin:hover .coin-underline {
  text-decoration: none !important;
}
.header-xfer-coin:hover .coin-underline {
  border-bottom: 1px solid $link-text;
}

.header-small-text {
  font-size: 12px !important;
}

.header-coin-text {
  font-weight: bold;

  display: inline-block;
}

.xfer-coin-image {
  margin-left: 2px;
  margin-bottom: -1px;

  padding-top: 1px;

  height: 14px;
  width: 14px;
}

.header-link {
  position: relative;
  top: -2px;

  font: normal x-small verdana,arial,helvetica,sans-serif;
  font-size: 16px;
  color: $link-text;

  line-height: $header-height;

  text-decoration: none;
}
.header-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bar-list {
  margin-right: 20px;

  li {
    display: inline-block;

    margin-right: 8px;

    height: $header-height;
  }
}

.xfer-coin-text {
  color: #115;
}

