.login-page {
  background-color: #dee0e3;
}

.auth-ui-panel {
  // Center middle top screen.
  position: absolute;
  margin: 0 auto;
  margin-top: -130px;
  margin-left: -181px;
  top: 40%;
  left: 50%;

  width: 360px;
  height: auto;

  background-color: white;

  color: #646464;
  font-family: "Source Sans Pro", Helvetica, sans-serif;

  border-radius: 2px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
}

.auth-entry-header {
  height: 46px;
  border-bottom: 1px solid  #dee0e3;
  line-height: 46px;
  padding: 0 28px;

  font-size: 1.15em;

  .logo { 
    text-transform: uppercase; 
  }
  span { 
    color: $flat-orange-1; 
  }
}

.auth-entry-form {
  padding: 18px 28px 0 28px;

  .subtitle { 
    font-size: 0.92em; 
  }
  input {
    font-size: 1.05em;
    font-weight: 300;
    margin-top: 18px;
    padding: 10px 8px;
    width: 288px;

    outline: 0;
  }
}

.auth-entry-footer {
  padding: 26px 28px 22px 28px;
  font-size: 0.82em;

  margin-bottom: 20px;
}

.login-button {
  float: right;

  color: white;
  font-size: 1em;
  font-weight: 600;

  padding: 10px;

  margin-top: -10px;
  margin-right: 10px;
  border: 1px solid #dee0e3;
  border-radius: 3px;

  background-color: $flat-orange-1;
}
.login-button:hover {
  cursor: pointer;
}

.message-success {
  background-color: green;
}
.message-failure {
  background-color: red;
}
.message-working {
  background-color: gold;
}

.auth-display-message {
  text-align: center;

  color: white;

  font-weight: 400;

  padding: 16px;
  border-top: 1px solid #dee0e3;
}