.left {
  float: left !important;
} 
.right {
  float: right !important;
}

.hide {
  display: none !important;
}

.spacer {
  position: relative;
}

.text-small {
  font-size: 12px !important;
}

.bold-text {
  font-weight: bold !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-mute {
  color: $text-secondary !important;
}

.center-text {
  text-align: center !important;
}

.inline-block {
  display: inline-block !important;
}

.wrap-text {
  word-wrap: break-word !important;
}

.underline {
  text-decoration: underline !important;
}

.no-text-decoration {
  text-decoration: none;
}