.thread-header {
  position: relative;
  display: flex;
  overflow: hidden;

  padding: 4px;
  margin: 4px;

  border: 1px solid $flat-clouds;
  background-color: white;

  max-height: 120px;

  div+div {
    border-left: 1px dotted $flat-clouds;
  }
}
.thread-header:hover {
  background-color: #FAFAFA;
}

.thread-action-buttons {
  position: absolute;

  top: 8px;
  right: 10px;
}

.thread-title {
  font-size: 22px;
  font-weight: 300;

  color: $text-primary;
}

.thread-page-description {
  font-size: 12px;
  margin-top: 2px;
  padding-left: 2px;

  color: $text-primary;
}

.thread-page-information {
  margin-top: 2px;
  padding-left: 2px;

  color: $text-secondary;
}

.thread-page-header {
  position: relative;
  padding-top: 2px;
  padding-left: 20px;
}

.thread-page {
  padding-top: 5px;

  position: relative;
}

.thread-header-title {
  font-size: 18px;
}

.thread-header-description {
  font-size: 12px;
}

.thread-header-info {
  font-size: 14px;
  margin-top: 1px;

  color: $text-secondary;
}

.thread-header-author-time {
  margin-top: 2px;
}

.thread-header-author {
  text-decoration: underline;
}

.page-selector {
  font-size: 14px;
}

.page-selection-text {
  display: inline-block;

  margin-left: 12px;
  margin-right: 2px;
}

.page-selection-item {
  display: inline-block;

  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 2px;

  background-color: white;
  color: #333;

  padding: 3px;
}
.page-selected {
  background-color: #aaa;
  color: white;
}
.page-selection-item:hover {
  cursor: pointer;

  text-decoration: underline;
  border-color: #333;
}