.thread-header {
  position: relative;

  overflow: hidden;

  padding: 4px;
  margin: 4px;

  border: 1px solid $flat-clouds;
  background-color: #FBFBFB;

  max-height: 120px;
}

.thread-title {
  font-size: 22px;
  font-weight: 300;

  color: $text-primary;
}

.thread-page-description {
  font-size: 12px;
  margin-top: 2px;
  padding-left: 2px;

  color: $text-primary;
}


.thread-page-information {
  margin-top: 2px;
  padding-left: 2px;

  color: $text-secondary;
}

.thread-page-header {
  position: relative;
  padding-top: 2px;
  padding-left: 20px;
}

.thread-page {
  padding-top: 5px;

  position: relative;
}

.thread-header-title {
  font-size: 18px;
}

.thread-header-description {
  font-size: 12px;
}

.thread-header-info {
  color: $text-secondary;
}

.thread-header-author {
  text-decoration: underline;
}