.thread-header {
  position: relative;

  padding: 4px;
  margin: 4px;

  border: 1px solid $flat-clouds;
  background-color: #FBFBFB;

  max-height: 120px;
  min-height: 60px;
}

.thread-header-title {
  font-size: 18px;
}

.thread-header-description {
  color: $text-secondary;

  font-size: 14px;
}

.thread-header-info {
  color: $text-secondary;
}

.thread-header-author {
  text-decoration: underline;
}

// .thread-header-right {
//   position: absolute;
//   top: 0;
//   right: 0;

//   height: 100%;

//   li {
//     display:inline-block;

//     text-align: left;

//     height: 100%;

//     border-right: 1px solid $flat-clouds;

//     overflow: hidden;
//   }
// }