// Remove the vanilla css rules.
@import 'reset';

@import 'variables';
@import 'rules';

// Libraries
@import 'lib/animate';
@import 'lib/bootstrap';
@import 'lib/font-awesome';
@import 'lib/quill-snow';

// Components and small pages.
@import 'header';
@import 'login';
@import 'logout';
@import 'coins';
@import 'forum';
@import 'thread';
@import 'comment';
@import 'panel';
@import 'profile';
@import 'inbox';
@import 'miscellaneous';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 16px;

  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Tahoma, Arial;
  // For titles: 'Source Sans Pro', '.SFNSText-Regular'
  -webkit-font-smoothing: subpixel-antialiased;
}